<div class="form-group">
  <form action="<%= new_guest_url(@guest) %>" method="get" id="guest_form">
    <input type="string" name="guest[email]" id="guest_email" placeholder="you@email.com">
    <br><br>

    <br><br>
    <input type="submit" value="Sign Up" class="btn submit_button">
  </form>
</div>