$body-bg: 										white;
$font-family-sans-serif: 			capriola;
$navbar-height:								45px;
$navbar-default-bg: 					white;
$navbar-default-brand-color: 	#159ccb;
$brand-primary: 							#159ccb;
$jumbotron-bg: 								white;

@import 'bootstrap';
.container {
  width: 900px;
}


.navbar-brand {
	font-weight: bold;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px;
  color: #159ccb;
  }

#footerleft {
    margin-left: 300px; 
    float: left; 
  }
#footerright {
    margin-right: 300px;
    float: right;
    }