// Place all the styles related to the travel_blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 500px;
}
.travel_blogs {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 400px;
  height: 400px;
}

.box img {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  position: relative;

}
h3 {
   position: absolute; 
   top: 200px; 
   text-align: left;

   color: white;
   
}
h2 {
  position: absolute;
  top: 220px; 
  text-align: left;

 
  color: white;
  margin-left: 1rem;
  
}
.blogcontent {
  width: 700px;
  font-family: 'Open Sans', sans-serif;
  text-indent: 60px;
}