
<div class="footer" id="footerleft">
<h4><strong>Categories</strong></h4>
          <h5><%= link_to "Eat", eat_blogs_path %> </h5>
          <h5><%= link_to "Drink", drink_blogs_path %> </h5>
          <h5><%= link_to "Travel", travel_blogs_path %></h5>
          <h5><%= link_to "News",  news_blogs_path %> </h5>
        
</div>


<div class="footer" id="footerright">
 <h4><strong>Social</strong></h3>
	   <h5><a href="https://www.facebook.com/getbeen" target="_blank">Facebook</a></h5>
		<h5><a href="http://instagram.com/getbeen/" target="_blank">Instagram</a> </h5>
		<h5><a href="https://twitter.com/BeenMobileApp" target="_blank">Twitter</a></h5>
		<h5><a href="http://www.pinterest.com/getbeen" target="_blank">Pinterest</a></h5>
  
</div>
  


   